site_name: MoirePy – Python Library for Moiré Lattice Simulation
site_description: "MoirePy is a Python library for bilayer moiré lattice simulations using tight-binding models. Open-source, installable via PyPI."
site_url: https://jabed-umar.github.io/MoirePy/
repo_url: https://github.com/jabed-umar/MoirePy
repo_name: jabed-umar/MoirePy

theme:
  name: readthedocs
  # name: windmill
  # name: ivory

  # name: mkdocs
  # name: material
  # name: kpn
  # name: terminal

  # logo: icon.png

  # icon:
  #   admonition:
  #     note: fontawesome/solid/note-sticky
  #     abstract: fontawesome/solid/book
  #     info: fontawesome/solid/circle-info
  #     tip: fontawesome/solid/bullhorn
  #     success: fontawesome/solid/check
  #     question: fontawesome/solid/circle-question
  #     warning: fontawesome/solid/triangle-exclamation
  #     failure: fontawesome/solid/bomb
  #     danger: fontawesome/solid/skull
  #     bug: fontawesome/solid/robot
  #     example: fontawesome/solid/flask
  #     quote: fontawesome/solid/quote-left


plugins:
  - search
  # - mkdocs-jupyter:
  #     include: ["examples/*.ipynb"]
  #     # include: ["examples/*.py"]
  #     # execute: true
  #     # allow_errors: false
  - mkdocstrings:
      handlers:
        python:
          inventories: []
          options:
            show_source: true
  - bibtex:
      bib_file: docs/refs.bib

extra_css:
  - assets/style.css

# extra_javascript:
#   - assets/script_find_theta.js


nav:
  - Home: index.md
  - Getting Started:
      - Quickstart TBG in 5 Minutes: getting_started/quickstart_tbg.md
      - K-Space Hamiltonian Generation: getting_started/k_space_hamiltonian.md
      - Simulating Lattices in Open vs. Periodic Boundary Conditions: getting_started/obc_vs_pbc.md
      - Defining Custom Layers: getting_started/prepare_layers.md
      - Designing Custom Hopping: getting_started/custom_hoppings.md  # don't worry too much about names, we will follow this... forget what exists and what not... anyway gonna rewrite all
      # - add things I might have forgot.. also later maybe we will add stuff here as new APIs come... like 3d lattices etc...
  - Tutorials and Benchmarks:
    - Tutorials and Replicated Papers: examples.md  # this will contain list of notebooks topic wise sorted... in chapters maybe if we are feeling fancy...
    - Benchmarks and Performance Tips: benchmarks.md
  - Theory:
      - Theoretical Background: theory/theory_intro.md
      - Tight Binding Formulation: theory/tight_binding_ham.md
      - Searching Algorithm & KDTree: theory/search_algorithm_kdtree.md
      - Angle Calculation Logic: theory/angle_calculation_process.md
      - Angle Value Calculator: theory/avc.md
  - API Reference:
      - Layers: api/layers.md
      - Moire: api/moire.md
      - Utils: api/utils.md


markdown_extensions:
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
