name: Upload Python Package to PyPI

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} (${{ matrix.target || 'default' }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64
          - os: ubuntu-latest
            target: aarch64
          - os: windows-latest
            target: x86_64
          - os: macos-latest
            target: x86_64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync Cargo version with Tag
        shell: bash
        run: |
          CLEAN_VERSION=$(echo "${{ github.ref_name }}" | sed 's/^v//')
          sed -i "s/^version = .*/version = \"$CLEAN_VERSION\"/" Cargo.toml

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release --out dist --find-interpreter
          target: ${{ matrix.target }}
          # Only build sdist once on the x86 Linux runner
          sdist: ${{ matrix.os == 'ubuntu-latest' && matrix.target == 'x86_64' }}

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.target }}
          path: dist

  publish:
    name: Publish to PyPI
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          # password: ${{ secrets.PYPI_API_TOKEN }}
          # Use your existing secrets
          # user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
